.first-post {
    .img-container {
        width: 100%;
        border-radius: 14px;
        overflow: hidden;
    }
    &-info {
        h1,
        p {
            margin-bottom: 14px;
        }
        h1 {
            font-size: 14px * 2;
        }
    }
}

@media screen and (min-width: 680px) {
    .first-post {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 28px;
    }
}