.board-posts {
  border-radius: 7px;
  box-shadow: 0 0 6px rgba(#000000, 0.16);
  padding: 28px;

  &-header {
    padding-bottom: 14px;
    margin-bottom: 28px;
    border-bottom: solid 1px #ddd;
  }
}