/*.board-posts-form {
  .editor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: solid 1px #ddd;
    border-radius: 7px;
    overflow: hidden;

    .input {
      padding: 28px;
      border-right: solid 1px #ddd;
    }

    .output {
      padding-top: 28px;
    }
    
    textarea {
      width: 100%;
      height: 100%;
      resize: none;
      overflow: hidden;
    }
  }
  
}*/
.edit-post {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 28px;
  
  input[type="submit"] {
    grid-column: 1 / 3;
  }
}

.input-form {
  margin: 14px 0;
  label input {
    background-color: #ddd;
    display: block;
    width: 100%;
    padding: 7px;
    border-radius: 7px;
    margin-top: 7px;
  }
}

.editor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: solid 1px #ddd;
  border-radius: 7px;
  overflow: hidden;

  .input {
    padding: 28px;
    border-right: solid 1px #ddd;
  }

  .output {
    padding-top: 28px;
  }
  
  textarea {
    width: 100%;
    height: 100%;
    resize: none;
    overflow: hidden;
  }
}