.board-posts-form {
  .editor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: solid 1px #ddd;
    border-radius: 7px;
    overflow: hidden;

    .input {
      padding: 28px;
      border-right: solid 1px #ddd;
    }

    .output {
      padding-top: 28px;
    }
    
    textarea {
      width: 100%;
      height: 100%;
      resize: none;
      overflow: hidden;
    }
  }
  
}