.footer {
    background: linear-gradient(90deg, #1C2237, #4B5A8A);
    padding: 14px * 2;
    .social-media,
    .posts {
        h4 {
            padding-bottom: 14px / 2;
            margin-bottom: 14px;
            border-bottom: solid 1px white;
            font-size: 14px * 1.5;
            text-align: center;
            color: white;
        }
        p {
            padding-bottom: 14px / 2;
            a {
                color: white;
            }
        }
    }
}

@media screen and (min-width: 680px) {
    .footer {
        .container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 14px * 4;
        }
        .social-media,
        .posts {
            h4 {
                text-align: left;
            }
            .icons {
                justify-content: start;
            }
        }
    }
}