.header-board {
  // background-color: #1C2237;
  background-color: #4B5A8A;
  padding: 14px;
  color: #1C2237;

  .header-board-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  button {
    width: 28px;
    height: 28px;
    background-color: transparent;
  }
}