.home {
    width: 100%;
    min-height: calc(100vh - 60px);
    background: linear-gradient(90deg, #1C2237, #4B5A8A);
    padding: 28px;
    padding-top: 90px;
    .wrapper {
        width: 100%;
        max-width: 296px;
        margin: auto;
    }
}

@media screen and (min-width: 680px) {
    .home {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        .wrapper {
            max-width: 1000px;
        }
    }
}