.list-of-posts {
    display: grid;
    gap: $font-size * 4;
}

@media screen and (min-width: 680px) {
    .list-of-posts {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .list-of-posts {
        grid-template-columns: repeat(3, 1fr);
    }
}