.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 0 28px;
    background: linear-gradient(90deg, #1C2237, #4B5A8A);
}

.header.sticky {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    height: 100%;
    margin: auto;
    padding: 7px;
}

.logo {
    font-size: 21px;
    color: white;
}

.nav a {
    display: inline-block;
    margin-left: 14px;
}